annotated-types
anyio==4.9.0
archspec
boltons
brotlicffi
certifi
cffi
charset-normalizer
colorama
cryptography
distro
frozendict
h11==0.16.0
hdbscan==0.8.40
httpcore==1.0.9
httpx==0.28.1
idna
jiter==0.10.0
joblib==1.5.1
jsonpatch
jsonpointer==2.1
markdown-it-py
mdurl
numpy==2.3.1
openai==1.97.0
packaging
pandas==2.3.1
pinecone==7.3.0
pinecone-plugin-assistant==1.7.0
pinecone-plugin-interface==0.0.7
platformdirs
pluggy
pycosat
pycparser
pydantic
pydantic_core
Pygments
PySocks
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2024.11.6
requests
rich
ruamel.yaml
ruamel.yaml.clib
scikit-learn==1.7.1
scipy==1.16.0
setuptools==78.1.1
six==1.17.0
sniffio==1.3.1
steamreviews==0.9.5
threadpoolctl==3.6.0
tiktoken==0.9.0
tqdm
truststore
typing-inspection
typing_extensions
tzdata==2025.2
urllib3
wheel==0.45.1
win_inet_pton
zstandard
